.main-wrapper {
    position: absolute;
}
.addNew {
    position: relative;
    top: -30px;
    font-size: 4em;
    z-index: 9;
    color: #ff914d;
}
p {
    color: #999;
    font-weight: 300;
    margin-top: 20px;
}
.modal-button {
    font-size: medium;
    background-color: #00c4cc;
    border-color: #00c4cc;
}

.spinner-border {
    vertical-align: middle;
    margin-right: 4px;
}

.form-control-file {
    font-size: 12px;
    line-height: normal;
}
img.avatar {
    width: 100px;
}
span.success-msg {
    color: darkred;
    position: absolute;
    top: 45px;
}
.small {
    margin-top: 32px;
}

.btnRemove, .btnRemove:hover, .btnRemove.btn-primary:focus {
    background-color: #e3342f;
    border-color: #e3342f;
    font-size: 0.7em;
}

.btnSubmit, .btnSubmit:hover, .btnSubmit.btn-primary, .btnSubmit.btn-primary:focus{
    background-color: #00c4cc;
    border-color: #00c4cc;
}

.addBtn, .addBtn:hover, .addBtn.btn-primary:focus {
    background-color: #ff924c;
    border-color: #ff924c;
}

.alert {
    color: darkred;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
}

.search-wrapper {
    width: 300px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.search input::placeholder {
    color: #adb5bd;
    opacity: 1;
}

@media (min-width: 768px) {
    .addNew {
        left: 690px;
    }
}

@media (max-width: 768px) {
    .addBtn {
        position: absolute;
        bottom: 74px;
        right: 16px;
    }
}

@media (max-width:620px) {
    .small {
        margin-top: 0px;
    }
}