/* Reset Select */
select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #f8f9fa;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #374554;
    font-weight: 500;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #dee2e6;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #ff914d;
}

@media (max-width: 768px) {
    .select {
        width: 100%;
    }
}