/* @import '../node_modules/bootstrap/dist/css/bootstrap.css'; */
@import '~bootstrap/dist/css/bootstrap.css';

html,body, #root {
    height: 100%;
}
html body .mdi:before, html body .mdi-set {
    line-height: initial;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
#root {
    width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}
.container-fluid {
    padding: 25px 25px;
}
.spinner-border-sm {
    font-size: 5px;
    padding: 10px;
    margin-right: 5px;
}
.appWrapper {
    background: #374654;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
}
@media (max-width: 767px) {
    .mini-sidebar .appWrapper {
        margin-left: 0px;
        padding-top: 70px;
    }
}
@media (min-width: 768px) {
    .mini-sidebar .appWrapper {
        margin-left: 70px;
    }
}
#root .appWrapper {
    padding-top: 70px;
}
@media (min-width: 1024px) {
    .appWrapper {
        margin-left: 240px;
    }
}
@media (max-width: 1023px) {
    .appWrapper {
        margin-left: 70px;
        transition: 0.2s ease-in;
    }
}
/* .default.container-fluid {
    padding: 0px !important;
}
.main {
    position: relative;
    top: 60px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 0;
    overflow: hidden;
}
.switch-wrapper {
    height: 100%;
    min-width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.switch-wrapper-inner {
    flex-grow: 1;
    position: relative;
}
.data-main-wrapper {
    /* position: absolute; *
    width: 100%;
    height: 100%;
    overflow: auto;
}
.data-main {
    height: 100%;
    width: 100%;
} */
